@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    color: hsl(224, 23%, 55%);
    background-color: hsl(225, 100%, 94%);
    padding: 100px 0;

}

.card {
    margin: auto;
    width: 450px;
    height: 697px;
    border-radius: 20px;
    background-color: white;
}

.hero {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.main-content {
    margin-top: 50px;
}

h1 {
    font-size: 24px;
    color: hsl(223, 47%, 23%);
    font-weight: 900;
    text-align: center;
}

.description {
    margin: 25px 48px;
    text-align: center;
}

.annual-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 354px;
    margin: 0 48px;
    padding: 0 5px;
    border-radius: 10px;
    height: 80px;
    background-color: hsl(225, 100%, 98%);
}

.plan-text {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.change {
    font-weight: 700;
    padding-left: 24px;
}

.annual-order {
    text-align: center;
    margin: 30px 0;
}

button {
    font-weight: 900;
    width: 354px;
    height: 50px;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    color: white;
    box-shadow: 0px 25px 10px 0px rgba(56, 41, 224, 0.1);
    background-color: hsl(245, 75%, 52%);
}

button:hover {
    background-color: hsl(245, 75%, 60%);
}

.cancel-order {
    font-weight: 900;
    margin-top: 40px;
}

.attribution {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
}

@media screen and (max-width: 375px) {
    .card {
        width: 327px;
        height: 545px;
    }

    .main-content {
        margin-top: 20px;
    }

    h1 {
        font-size: 20px;
    }

    .description {
        margin: 20px 0;
        line-height: 25px;
        margin: 15px 32px 30px 32px;
    }

    .annual-content {
        width: 279px;
        margin: 0 20px;
    }

    .change {
        font-size: 14px;
    }

    .annual-order {
        margin: 20px 0;
    }

    button {
        width: 279px;
        box-shadow: 0px 15px 10px 0px rgba(56, 41, 224, 0.1);
    }

    .cancel-order {
        margin-top: 15px;
    }
}